<%- include("header") %> <%- include("header") %>

<section class="vh-100" style="background-color: #2779e2">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-8">
        <div class="card" style="border-radius: 15px">
          <h1 class="text-primary text-center mt-5 mb-2">Student Details</h1>
          <hr class="mx-n3" />
          <div class="p-3">
            <table class="table">
              <thead class="table-dark">
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Age</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= stud.name %></td>
                  <td><%= stud.email %></td>
                  <td><%= stud.age %></td>
                </tr>
              </tbody>
            </table>
            <h3>Remarks</h3>
            <table class="table">
              <% remarks.forEach(remark=>{ %> <% if(stud.name ===
              remark.student){ %>
              <tr>
                <td><%= remark.text %></td>
                <td>
                  <%= moment(remark.date).format('DD-MM-YYYY hh:mm:ssA') %>
                </td>
              </tr>
              <% }}) %>
            </table>
            <div class="d-md-flex justify-content-md-end">
              <button onclick="history.back()" class="btn btn-primary">
                Go Back
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
